var divClass = "<%= params[:left].present? ? 'left' : 'right' %>";
var value = "<%= (params[:left] || params[:right])[:number] %>";
var form = $('div.' + divClass).find('form');
var element = form.find('input[type="number"]');
// element.val(value);
var text = element.val() + ' - ' + value;
console.log(divClass + ' - ' + text);
form.append('<p>' + text + '</p>');
// if (divClass == 'left') { element.attr('readonly', false); }
if (divClass == 'left') { $(element[0].form).children('fieldset').attr('disabled', false); }
